

.main {
	margin-left: $nav-width;
	margin-top: 0px;
	transition: .2s ease-in-out;
	position: relative;

	@media screen and (max-width: $bp-desktop) {
		margin-left: 0;
		.nav--open & {
			transform: translateX($nav-width);
		}
	}
}


.centered {
  max-width: 1400px;
  margin: 0px auto;
  position: relative;
}
