.card-search {
  height: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 2px;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  font-family: "Roboto", sans-serif;
  background: rgba(black, 0.2);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  outline: none;
}
