.Select-control {
  background: transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-out;
  border-bottom: 1px solid #ddd;

  .cnbc-modal & {
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }

  &:hover {
    border-color: #bbb;
  }

  .Select--multi.is-open & {
    background: transparent;
    border-color: $color-orange;
    box-shadow: 0 1px 0 0 $color-orange;
  }
}

.Select-placeholder {
  color: #999;
  padding: 0;
  visibility: hidden;

  .is-focused & {
    visibility: visible;
  }
}

.Select-arrow-zone {
  text-align: right;
  vertical-align: bottom;
  padding-bottom: 7px;
  padding-right: 0px;
}

.Select-arrow {
  border-color: rgba(255,255,255,0.3) transparent transparent;
  border-width: 5px 5px 2px;
}

.Select-clear-zone {
  display: none;
}

.Select--multi {

  .Select-value {
    background-color: #eee;
    border-radius: 2px;
    border: none;
    color: #000;
    font-size: 12px;
    margin: 1px 4px 0px 0px;
  }

  .Select-value-icon {
    padding: 0px 5px 1px;
    opacity: 0.3;
    font-size: 15px;
    font-weight: bold;
    border: none;

    &:hover, &:focus {
      background: transparent;
      color: inherit;
      opacity: 0.8;
    }
  }
}

.Select-menu-outer {
  border-radius: 0;
	background-color: $color-white;
	border: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	margin-top: 3px;
	max-height: 200px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: $select-menu-zindex;
	-webkit-overflow-scrolling: touch;
}

.Select-option {
  padding: 10px 12px;
  font-family: $font-main;
  background-color: $color-white;
  font-weight: 400;
  color: #000000;
}

.field--tags-input input {
  color: #666;
}
