

$profile-small: 26px;
$profile-big: 160px;

.profile-img {

	width: $profile-small;
	height: $profile-small;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;

	img {
		width: 100%;
		height: auto;
	}
}

.profile-img--big {
	width: $profile-big;
	height: $profile-big;
}

.profile-img__photo {
	width: $profile-small - 4px;
	height: $profile-small - 4px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #FFF;
	overflow: hidden;
}
