@font-face {
    font-family: 'bonn_bold_betaregular';
    src: url('../fonts/bonn_bold-webfont.eot');
    src: url('../fonts/bonn_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bonn_bold-webfont.woff2') format('woff2'),
         url('../fonts/bonn_bold-webfont.woff') format('woff'),
         url('../fonts/bonn_bold-webfont.svg#bonn_bold_betaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bonn_regular_betaregular';
    src: url('../fonts/bonn_regular-webfont.eot');
    src: url('../fonts/bonn_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bonn_regular-webfont.woff2') format('woff2'),
         url('../fonts/bonn_regular-webfont.woff') format('woff'),
         url('../fonts/bonn_regular-webfont.svg#bonn_regular_betaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bonn_light_betaregular';
    src: url('../fonts/../bonn_light-webfont.eot');
    src: url('../fonts/bonn_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bonn_light-webfont.woff2') format('woff2'),
         url('../fonts/bonn_light-webfont.woff') format('woff'),
         url('../fonts/bonn_light-webfont.svg#bonn_light_betaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
