
$bp-xlarge: 1800px;
$bp-large: 1400px;
$bp-desktop: 1100px;
$bp-medium: 800px;
$bp-small: 600px;

$transition-basic: all 0.2s;

$header-height: 80px;
$top-header-height: 60px;
$edit-page-header-height: 50px;
$nav-width: 220px;

$color-grey-dark: #2a2a2d;
$color-grey-light: #dddddd;
$color-body-bg: #f2f2f2;
$color-grey-md: #999999;
$color-dark-text: #000;
$color-orange: rgb(255, 103, 0);
$color-red: red;
$color-red-dark: #920000;
$color-white: #ffffff;
$color-border-grey: #EEEEEE;
$color-green-success: #8bc34a;
$color-notify-red: #ff4040;
$color-grayish-blue: #78909c;


$theme-colors: (
	#f44336,
	#2196f3,
	#e91e63,
	#4caf50,
	#795548,
	#607d8b,
	#ffc107,
	#673ab7,
	#03a9f4,
	#03a9f4,
	#03a9f4,
	#03a9f4
)
